$ff: 'Roboto', sans-serif;

$white: #FFFFFF;
$black: #000000;
$titles: #595085;
$gray: #8B97A8;
$lightGray: #C4C4C4;
$turquoise: #479696;
$lightTurquoise: #F5F9F9;
$mediumTurquoise: #8DAEAE;
$violet: #403572;
$lightViolet: #595085;
$darkViolet: #3D3270;
$red: #FF5648;
$dustyRed: #FF5D50;
$activeRed: #FF3726;
$mediumRed: #FF7E73;
$lightRed: #FFF4F4;
$pink: #E791BE;
$darkPink: #C93F8D;
$lightPink: #FDF9FB;
$blue: #F6F5FB;
$darkBlue: #4D545C;
$mediumBlue: #61598B;
$beige: #A27A7A;
$pinkGrad: linear-gradient(90deg, #25196B 0%, #D994A7 100%);
$turquoiseGrad: linear-gradient(90deg, #25196B 0%, #94D9B4 100%);

$radius: 1.5rem;
$radiusBar: 0.5rem;
$radiusEight: 0.8rem;
$radiusImage: 50%;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$transition: .2s all ease-in-out;