<div class="tasks">
    <div class="tasks__title">Daily Tasks:</div>
    <div class="tasks__list">
        <a class="tasks__item _blue">
            <div>Daily astromeditation</div>
            <div class="tasks__counter">
                <span>3</span>
                <span class="material-symbols-outlined">language</span>
            </div>
        </a>
        <a class="tasks__item _red">
            <div>Daily sleep astromeditation</div>
            <div class="tasks__counter">
                <span>1</span>
                <span class="material-symbols-outlined">language</span>
            </div>
        </a>
        <a class="tasks__item _turquoise">
            <div>Daily mantra</div>
            <div class="tasks__counter">
                <span>2</span>
                <span class="material-symbols-outlined">language</span>
            </div>
        </a>
    </div>
</div>

<app-progress></app-progress>