@import 'angular';

.side {

    &__title {
        @include text($ff, 500, 1.4rem, 1.6rem, $titles);
        margin-bottom: 0.8rem;
    }

    &__list {
        display: flex;
        gap: 0.5rem;
    }

    &__item {
        border-radius: $radiusEight;
        padding: 0.8rem 1rem;
        margin-bottom: 2rem;
        @include text($ff, 500, 1.2rem, 1.4rem, nule);

        &._turquoise {
            color: $turquoise;
            background: $lightTurquoise;
        }
    
        &._red {
            color: $mediumRed;
            background: $lightRed;
        }
    }
}